body{
    font-family: 'Aref Ruqaa Ink', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
}
.bth{
 border-radius: 5px;
background: #FD6E0A;
border: 0;
font-size: 20px;
font-weight: 700;
color: white;
padding: 15px 35px ;
}
.colore{
    color: #FD6E0A ;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;

}
.nav1{
    color: #181818;
font-size: 45px;
font-weight: 800;

}
.scetion-title{
    color:  #181818;
text-align: center;
font-size: 35px;
font-weight: 700;

.section-description{
    color:  #757575;
text-align: center;
font-size: 18px;

}


}
nav > ul{
    display: flex;
    align-items: center;

}
nav li{
    list-style: none;
    margin-right: 51px;
    
    
}
nav a{
    text-decoration: none;
    color: #474747 ;
}
.header{
    background: #FFF8F3; 
    background-image:url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
}
.banner .profile{
    width: 500px;
}
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin:130px 0 ;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-inf{
    text-align: center;
}